---
import Layout from "../../layouts/Layout.astro";
import Header from "../../components/Header.astro";
import Footer from "../../components/Footer.astro";
import Hero from "../../components/sections/Hero.astro";
import Intro from "../../components/sections/Intro.astro";
import Audience from "../../components/sections/Audience.astro";
import Courses from "../../components/sections/Courses.astro";
import Certification from "../../components/sections/Certification.astro";
import Benefits from "../../components/sections/Benefits.astro";
import Methodology from "../../components/sections/Methodology.astro";
import Testimonials from "../../components/sections/Testimonials.astro";
import FinalCta from "../../components/sections/FinalCta.astro";
import { nosotrosSeo } from "../../config/seoConfig";
---

<Layout seo={nosotrosSeo}>
  <Header active="nosotros" ctaLabel="Contáctanos" />
  <main>
    <Hero />
    <Intro />
    <Audience />
    <Courses />
    <Certification />
    <Benefits />
    <Methodology />
    <Testimonials />
    <FinalCta />
  </main>
  <Footer />
</Layout>
