---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import HeroSection from "../components/inicio/HeroSection";
import NeuroSection from "../components/inicio/NeuroSection";
import HowItWorksSection from "../components/inicio/HowItWorksSection";
import ProgramsSection from "../components/inicio/ProgramsSection";
import DomicilioSection from "../components/inicio/DomicilioSection";
import BenefitsSection from "../components/inicio/BenefitsSection";
import StorySection from "../components/inicio/StorySection";
import TestimonialsSection from "../components/inicio/TestimonialsSection";
import FinalCtaSection from "../components/inicio/FinalCtaSection";
import { familiesHomeSeo } from "../config/seoConfig";
---

<Layout seo={familiesHomeSeo}>
  <Header active="inicio" ctaLabel="Contáctanos" />
  <main>
    <HeroSection />
    <NeuroSection />
    <HowItWorksSection client:load />
    <ProgramsSection client:load />
    <DomicilioSection />
    <BenefitsSection />
    <StorySection />
    <TestimonialsSection />
    <FinalCtaSection />
  </main>
  <Footer />
</Layout>
