---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import FamilyHero from "../components/families/FamilyHero.astro";
import FamilyNeuro from "../components/families/FamilyNeuro.astro";
import HowItWorks from "../components/families/HowItWorks.astro";
import FamilyPrograms from "../components/families/FamilyPrograms.astro";
import FamilyDomicilio from "../components/families/FamilyDomicilio.astro";
import FamilyBenefitsKids from "../components/families/FamilyBenefitsKids.astro";
import FamilyStory from "../components/families/FamilyStory.astro";
import FamilyParentsTestimonials from "../components/families/FamilyParentsTestimonials.astro";
import FamilyFinalCta from "../components/families/FamilyFinalCta.astro";
import { familiesHomeSeo } from "../config/seoConfig";
---

<Layout seo={familiesHomeSeo}>
  <Header active="inicio" ctaLabel="Agenda una sesión →" />
  <main>
    <FamilyHero />
    <FamilyNeuro />
    <HowItWorks />
    <FamilyPrograms />
    <FamilyDomicilio />
    <FamilyBenefitsKids />
    <FamilyStory />
    <FamilyParentsTestimonials />
    <FamilyFinalCta />
  </main>
  <Footer
    mission="Acompañamiento en neurodesarrollo y Montessori para familias. Terapias, programas y visitas a domicilio."
  />
</Layout>
