---
import Layout from "../../layouts/Layout.astro";
import Header from "../../components/Header.astro";
import Footer from "../../components/Footer.astro";
import EstrategiaHero from "../../components/estrategia/EstrategiaHero.astro";
import EstrategiaSplitSection from "../../components/estrategia/EstrategiaSplitSection.astro";
import EstrategiaStaff from "../../components/estrategia/EstrategiaStaff.astro";
import { estrategiaSplitSections } from "../../data/estrategiaPage";
import { estrategiaSeo } from "../../config/seoConfig";
---

<Layout seo={estrategiaSeo}>
  <Header active="estrategia" ctaLabel="Contáctanos" />
  <main class="overflow-x-hidden">
    <EstrategiaHero />
    {estrategiaSplitSections.map((block) => <EstrategiaSplitSection block={block} />)}
    <EstrategiaStaff />
  </main>
  <Footer />
</Layout>
