---
import Layout from "../../layouts/Layout.astro";
import Header from "../../components/Header.astro";
import Footer from "../../components/Footer.astro";
import Hero from "../../components/nosotros/Hero.astro";
import Intro from "../../components/nosotros/Intro.astro";
import Audience from "../../components/nosotros/Audience.astro";
import Courses from "../../components/nosotros/Courses.astro";
import Certification from "../../components/nosotros/Certification.astro";
import Benefits from "../../components/nosotros/Benefits.astro";
import Methodology from "../../components/nosotros/Methodology.astro";
import Testimonials from "../../components/nosotros/Testimonials.astro";
import FinalCta from "../../components/nosotros/FinalCta.astro";
import { estrategiaSeo } from "../../config/seoConfig";
---

<Layout seo={estrategiaSeo}>
  <Header active="estrategia" ctaLabel="Contáctanos" />
  <main>
    <Hero />
    <Intro />
    <Audience />
    <Courses />
    <Certification />
    <Benefits />
    <Methodology />
    <Testimonials />
    <FinalCta />
  </main>
  <Footer />
</Layout>
